<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KeraLua" version="1.2.10" targetFramework="net461" />
  <package id="NLog" version="4.7.5" targetFramework="net461" />
  <package id="NLua" version="1.5.6" targetFramework="net461" />
  <package id="SharpSvn2019.SharpSvn" version="1.12.0.1" targetFramework="net461" />
</packages>